html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:focus{outline:0;}body{line-height:1;color:black;background:white;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}
body *, html *{}

/* 960 GRID SYSTEM */
.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px;}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}html body * span.clear,html body * div.clear,html body * li.clear,html body * dd.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

.corpHeadIcon, .flag{
	background:url(../../main/themes/black/corporateHeadIcons.png) no-repeat;
	_background-image:url(../../main/themes/black/corporateHeadIcons.ie6.png);
}

#tree {background-color:#d5d5d5;color:#333;left:0;padding:3px 10px;position:absolute;top:9px;}

/* General */	
body {font:normal 12px 'Lucida Sans','Lucida Grande',sans-serif;min-height:720px;min-width:980px;}
a {cursor:pointer;text-decoration:none;}	
.clear {clear:both;}

.padding-20 {padding:0 20px !important;}
.no-padding {padding:0 !important;}
.no-padding-right {padding-right:0 !important;}

.no-right-content {width:770px !important;}
.no-content {color:#555;font-size:14px;font-weight:bold;min-height:200px;padding:20px;}

/* Sprites */
.theme-sprite {background:transparent url(../../main/images/sprite-transparent.png) no-repeat 0 0;}

/* Sprite Elements */
.arrow {background-position:right -383px;padding:0 27px 0 10px;}
.no-arrow {background-position: right -430px;padding:0 10px 0 10px;}
.ap-balance {background-position:right -310px !important;display:block;padding-right:45px !important;}

#facebook {background-position:0 -142px;}
#twitter {background-position:-29px -142px;}
#youtube {background-position:-58px -142px;}
#googleplus {background-position:-87px -142px;margin:0;}

/* Page Container */	
#container {min-height:100%;position:relative;}

/* Header */
#header {position:relative;z-index:99999;}
#header-options {color:white;font-weight:bold;height:26px;margin:0 auto;padding:5px 0;position:relative;width:960px;z-index:99;}
#header-options li {display:inline;float:left;position:relative;}
#header-options a:hover {color:#333;}
#header-main-home {float:left;height:57px;width:123px;}
#header-main-wrap {float:left;height:57px;width:837px;}
#header-main {background-position:0 -9px;height:58px;margin:0 auto;position:relative;width:960px;}	

#frontpage #header-main {background:none;}

/* Main */
#main {padding-bottom:120px;}

/* Left Menu and Right Menu */
.left-menu {color:white;left:0;position:relative;width:157px;}   
.left-menu a {color:white;}
.left-menu-title {border:1px solid #797f87;border-bottom:none;border-right:none;}
.left-menu-content {background-color:#84939e;border:1px solid #797f87;border-right:none;border-top:none;padding:14px 12px;}
.left-menu-options {background-color:white;border:1px solid #d5d5d5;border-right:none;color:#222;padding:10px 12px;}
.left-menu-options a {color:#565656;display:block;font-weight:bold;font-size:12px;padding:3px 0;word-wrap:break-word;}

.right-menu {color:white;position:relative;width:180px;}
.right-menu-title {border-bottom:none;border-right:none;}
.right-menu-content {background-color:white;border:1px solid #d5d5d5;border-top:none;border-bottom:none;padding:6px 3px;}
.right-menu .more-link {border:1px solid #85939d;color:white;font-size:11px;padding:2px 8px;position:absolute;right:5px;top:10px;}

.left-menu h3, .right-menu h3 {font-size:14px;font-weight:bold;padding:10px 4px 10px 12px;text-shadow:#666 1px 1px 3px;word-wrap:break-word;}
.left-menu-bottom {margin-bottom:28px;}

/* Tabs */
.tabs-vertical .tabs {margin:0 0 47px 0}
.tabs-vertical .tabs li {padding:9px 0 9px 9px;}
.tabs-vertical .tabs li.active {background-color:white;border:1px solid #d5d5d5;border-right-color:white;left:1px;position:relative;z-index:99;}
.tabs-vertical .tabs a {color:#333;display:block;font-size:14px;font-weight:bold;letter-spacing:-1px;line-height:18px;text-shadow:white 0 1px 0;}
.tabs-vertical .tabs a.active {color:#007eff;}

.tabs-horizontal {height:32px;margin:7px 14px;position:relative;}
.tabs-horizontal .tabs {position:absolute;left:0;top:0;z-index:9;}
.tabs-horizontal .tabs li {float:left;}
.tabs-horizontal .tabs li.active {background-color:white;border:1px solid #d5d5d5;border-bottom:none;left:-1px;position:relative;
	-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;
	-webkit-border-radius-top-left:3px;-webkit-border-radius-top-right:3px;
	border-top-left-radius:3px;border-top-right-radius:3px;	
}
.tabs-horizontal .tabs a {border-right:1px solid #d5d5d5;color:#333;display:block;font-size:14px;font-weight:bold;height:25px;letter-spacing:-1px;line-height:25px;margin-top:6px;padding:0 6px;text-shadow:white 1px 1px 1px;}
.tabs-horizontal .tabs .active a {border:none;color:#606060;}

.hide-primary .primary {display:none;}

.tabs-base {border:1px solid #d6d6d6;height:25px;position:relative;top:5px;}

/* Footer */
#footer {position:absolute;bottom:40px;width:100%;height:58px;z-index:99;}
#footer p {color:#4c4444;font-size:11px;padding:13px 0;text-align:center;text-shadow:white 0 1px 1px;}

#footer-wrap {background-position:0 -9px;height:58px;margin:0 auto;width:960px;}
#footer-wrap-home {float:left;height:100%;width:136px;}

#footer-wrap a, #footer-wrap a:hover {color:#e7e7e7 !important;}
#footer-menu-wrap, #footer-wrap-social {float:left;height:30px;padding:15px 0 12px 5px;width:665px;}
#footer-menu-wrap a {font-size:11px;font-weight:bold;line-height:30px;padding-right:10px;}
#footer-wrap-social {margin-right:5px;width:140px;}
#footer-wrap-social a {float:right;height:28px;margin-right:5px;width:29px;}

#header a:hover, 
#footer a :hover {text-decoration:none;}

.lang_fr #footer-menu-wrap a, .lang_pt #footer-menu-wrap a,
.lang_de #footer-menu-wrap a, .lang_es #footer-menu-wrap a,
.lang_it #footer-menu-wrap a, .lang_pl #footer-menu-wrap a {
	font-size:10px; padding-right: 5px;
}
.lang_ru #footer-menu-wrap a {font-size:8px; padding-right: 5px;}

.footer-menu-a {border-left:1px solid #e7e7e7;padding:0 10px;}
.lang_fr #footer-menu-wrap .footer-menu-a, .lang_pt #footer-menu-wrap .footer-menu-a,
.lang_de #footer-menu-wrap .footer-menu-a, .lang_es #footer-menu-wrap .footer-menu-a,
.lang_it #footer-menu-wrap .footer-menu-a, .lang_ru #footer-menu-wrap .footer-menu-a {padding:0 5px;}

/* Dropdown Menu */
#mSearch .menu2 {left:3px;top:28px;}
#is-login .menu2 {top:25px;}

#menu-wrap {float:left;margin:19px 11px 0;width:520px;}
#menu-wrap li {background-position:right -625px;float:left;padding:0 5px 11px;position:relative;}
#menu-wrap li.right {float:right;margin-right:13px;}
#menu-wrap a.menu1 {color:#ebebeb;float:left;font-size:15px;font-weight:bold;line-height:20px;margin:0 0 0 8px;}

#menu-wrap .menu2 {left:0;top:31px;}

#menu-search {background-position:-674px -89px;float:left;margin-top:13px;position:relative;}

.menu2 {border-top:none;display:block;min-width:210px;padding:0 0 2px;top:50px;}
.menu-side-block {background-color:white;border-left:none !important;display:none;left:207px;padding-bottom:2px;top:-1px;}
.menu-side-block,
.menu2 {border:1px solid #c3c3c3;position:absolute;visibility:hidden;z-index:99;
	-moz-box-shadow:inset 0px -2px 12px 6px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0px -2px 12px 6px rgba(0,0,0,0.1);
	box-shadow:inset 0px -2px 12px 6px rgba(0,0,0,0.1);
}

.smactive .menu-side-block {display:block;visibility:visible;}

.side-menu2 b,
.side-menu2 strong,
.menu2 a {color:#292929;display:block;font-weight:bold;margin:0;padding:10px 15px;}

.menu2 b {color:#222;display:block;font-size:13px;font-weight:bold;line-height:20px;}
.menu2.right {right:0;}
.menu2.left {left:0;}

.mactive .menu1.no-arrow {background-color:white;background-position:right -430px;color:#292929 !important;}
.mactive .menu1 {background-color:white;background-position:right -356px;color:#292929 !important;}
.mactive .menu2 {background-color:white;visibility:visible;}

.menu2-link {padding:5px 10px;}

.menu-top {border-bottom: 1px solid #e3e3e3;border-top: 1px solid #bfbfc1;display:block;height:7px;width:100%;}

.side-menu2 {display:block;}
.side-menu2 span {float:left;}

.side-menu2 b,
.side-menu2 strong {color:#0e7bff;padding:7px 15px;}
.side-menu2 strong {border-top:1px solid #ddd;}

.total-3 .count-1,
.total-3 .count-2,
.total-2 .count-1 {border-right:1px solid #ddd;
	-moz-box-shadow:inset -1px 0px 0px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow:inset -1px 0px 0px 0px rgba(255, 255, 255, 1);
	box-shodow:inset -1px 0px 0px 0px rgba(255, 255, 255, 1);	
}

/* Menu Hover */
.menu2 a:hover {color:white !important;}

/* Not Login */
#not-login {float:right;}
#not-login-signup span {background-position:right -412px;display:block;padding:0 31px 0 0;}

/* Is Login */
#is-login {float:right;}
#is-login a span {background-position:right -483px;display:block;padding:0 22px 0 8px;}
#is-login .login-link {padding:0 10px;}

.login-link {border:1px solid #999;color:#333;float:left;font-size:12px;line-height:24px;margin-right:5px;padding:0 17px;}

#pm-notifier {color:white;font-size:10px;left:-2px;padding:1px 3px;position:absolute;top:-4px;z-index:99;}
#pm-notifier:hover {color:white !important;}

/* Language */
#language-select {float:right;margin-right:5px;}
#language-select a span {background-position:right -483px;display:block;font-size:9px;padding:0 18px 0 0;}

#language-select .menu2 a {clear:both;}
#language-select .menu2 {min-width:100px;top:25px;}

/* Search */
#search-button {background-position: right -444px;border:none;cursor:pointer;float:left;height:30px;margin:0;padding:0;width:40px;}
#search-button:hover {background-position:-430px -444px;}
#search-term {background:none;border:none;float:left;height:26px;padding:2px 4px;width:236px;}
#search-term-label {left:6px;position:absolute;top:5px;}
#search-term, #search-term-label {color:#989898;font-size:15px;font-weight:bold;text-shadow:white 0px 1px 0px;}

/* Games Related */
.feature-game-cell h3, .feature-game-cell h4, .feature-game-cell span {margin-left:5px;}
.feature-game-cell h3, .category-games-info h3 {color:#333;font-size:15px;font-weight:bold;}
.feature-game-cell h4 , .category-games-info h4 {color:#0e7bff;font-size:11px;font-weight:bold;line-height:16px;}
.feature-game-cell a:hover {color:#333;text-decoration:underline;}

.category-games-data {float:left;width:121px;}
.category-games-info {float:left;margin:0 1px;padding:0 12px;width:135px;}
.category-games-info p {color:#666;font-size:11px;line-height:14px;}
.category-games-info a:hover {color:#333;text-decoration:underline;}

.info-tag {background-color:#e4e4e4;color:#333;float:left;font-size:9px;margin:5px 5px 5px 0;padding:2px 6px;}
.download-link, .beta-signup-link, .category-games-content .trailer-link {clear:both;color:#125EA9;float:left;font-size:11px;font-weight:bold;line-height:15px;margin:6px 0 0;padding-left:16px;}
.download-link {background-position:left -95px;}
.beta-signup-link {background-position:-200px -76px;}
.category-games-content .trailer-link {background-position:left -76px;}

/* Common Gradient */
.black-01 {
	background:#3b3e47;
	background:-moz-linear-gradient(top, #3b3e47 0%, #2f3237 50%, #242527 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3e47), color-stop(50%,#2f3237), color-stop(100%,#242527));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3e47', endColorstr='#242527',GradientType=0 );
}

.blue-01 {
	background: #57a5f0;
	background: -moz-linear-gradient(top, #57a5f0 0%, #448cd6 50%, #296cb0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57a5f0), color-stop(50%,#448cd6), color-stop(100%,#296cb0));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a5f0', endColorstr='#296cb0',GradientType=0 );
}

.blue-02 {
	background: #3b434c;
	background: -moz-linear-gradient(top, #3b434c 0%, #2b3239 50%, #1e242a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b434c), color-stop(50%,#2b3239), color-stop(100%,#1e242a));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b434c', endColorstr='#1e242a',GradientType=0 );
}

.blue-04 {
	background: #95a4af;
	background: -moz-linear-gradient(top, #95a4af 0%, #84939d 50%, #75848e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95a4af), color-stop(50%,#84939d), color-stop(100%,#75848e));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95a4af', endColorstr='#75848e',GradientType=0 );
}

.form-submit,
.menu2 a:hover,
.smactive .side-menu-parent,
.blue-05 {
	background: #5eacfe;
	background: -moz-linear-gradient(top, #5eacfe 0%, #308afa 50%, #0a6ffb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5eacfe), color-stop(50%,#308afa), color-stop(100%,#0a6ffb));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eacfe', endColorstr='#0a6ffb',GradientType=0 );
}
.smactive .side-menu-parent {color:white;}

.col_subj .marker,
.green-01 {
	background: #29cc35;
	background: -moz-linear-gradient(top, #29cc35 0%, #22ab29 50%, #1c8c20 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29cc35), color-stop(50%,#22ab29), color-stop(100%,#1c8c20));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29cc35', endColorstr='#1c8c20',GradientType=0 );
}

.orange-01 {
	background: #d24e35;
	background: -moz-linear-gradient(top, #d24e35 0%, #b63a1e 50%, #9a2406 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d24e35), color-stop(50%,#b63a1e), color-stop(100%,#9a2406));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24e35', endColorstr='#9a2406',GradientType=0 );
}

.grey-01 {
	background:#f3f3f4;
	background:-moz-linear-gradient(top, #f3f3f4 0%, #ebebec 50%, #e5e6e6 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f4), color-stop(50%,#ebebec), color-stop(100%,#e5e6e6));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f4', endColorstr='#e5e6e6',GradientType=0 );
}

.buttons .form-submit,
.grey-02 {
	background:#fefefe;
	background:-moz-linear-gradient(top, #fefefe 0%, #f8f8f8 50%, #f3f3f3 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#f8f8f8), color-stop(100%,#f3f3f3));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
}

.grey-03 {
	background:#e1e1e1;
	background:-moz-linear-gradient(top, #e1e1e1 0%, #ededed 10%, #f3f3f3 20%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(10%,#ededed), color-stop(20%,#f3f3f3));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#f3f3f3',GradientType=0 );
}
#showErrors .messages, #pageCols #showErrors .help,
.red-01 {
	background:#c10a0a;
	background:-moz-linear-gradient(top, #c10a0a 0%, #910909 50%, #6f0909 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#c10a0a), color-stop(50%,#910909), color-stop(100%,#6f0909));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c10a0a', endColorstr='#6f0909',GradientType=0 );
}

/* Common Radius */
.radius-1 {-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1x;}

.form-text , 
.form-textarea, 
.fieldsetToggler,
.form-submit,
button,
.col_subj .marker,
.mactive .menu1,
.radius-3 {-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3x;}
.radius-4 {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4x;}
.radius-6 {-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6x;}
.radius-8 {-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}	

.radius-top-3 {
	-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;
	-webkit-border-radius-top-left:3px;-webkit-border-radius-top-right:3px;
	border-top-left-radius:3px;border-top-right-radius:3px;
}

.radius-left-3 {
	-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-top-left:3px;-webkit-border-radius-bottom-left:3px;
	border-top-left-radius:3px;border-bottom-left-radius:3px;
}

.radius-left-top-3 {
	-moz-border-radius-topleft:3px;
	-webkit-border-radius-top-left:3px;
	border-top-left-radius:3px;
}

.radius-left-bottom-3 {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-bottom-left:3px;
	border-bottom-left-radius:3px;
}

.radius-bottom-3 {
	-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;
	-webkit-border-radius-bottom-left:3px;-webkit-border-radius-bottom-right:3px;
	border-bottom-left-radius:3px;border-bottom-right-radius:3px;	
}

/* Common Box Shadow */
.shadow-grey-01 {
	-moz-box-shadow:0px 1px 0px 0px rgba(120, 120, 120, 0.7);
	-webkit-box-shadow:0px 1px 0px 0px rgba(120, 120, 120, 0.7);
	box-shadow:0px 1px 0px 0px rgba(120, 120, 120, 0.7);
}

.form-submit,
button,
.inner-shadow-01 {
	-moz-box-shadow:inset 0 0px 0px 1px rgba(243, 244, 181, 0.26);
	-webkit-box-shadow:inset 0 0px 0px 1px rgba(243, 244, 181, 0.26);
	box-shodow:inset 0 0px 0px 1px rgba(243, 244, 181, 0.26);		
}

.inner-shadow-02 {
	-moz-box-shadow:inset 0 7px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:inset 0 7px 10px rgba(0, 0, 0, 0.5);
	box-shodow:inset 0 7px 10px rgba(0, 0, 0, 0.5);		
}

.login-link:hover,
.inner-shadow-03 {
	-moz-box-shadow:inset 0px 0px 1px rgba(171, 158, 165, 1);
	-webkit-box-shadow:inset 0px 0px 1px rgba(171, 158, 165, 1);
	box-shodow:inset 0px 0px 1px rgba(171, 158, 165, 1);		
}

/* ERROR */
#showErrors {clear:both;margin:15px 0;}
#showErrors .messages, #pageCols #showErrors .help{border:solid 1px #be454c;color:white;font-size:13px;padding:12px 25px;text-align:center;word-wrap:break-word;}
#showErrors .messages a{color:white;text-decoration:underline}
#showErrors .help{border-color:#99FF66;background:#FFFFCC;}

#offersWrap, #offersWrap li  {float:left;}
#offersWrap a {text-decoration:none;}
#offersWrap strong {color:white;font:bold 16px/37px Arial;}
#offersWrap a strong {color:#125EA9;}

/* Avatar */
.profileListing{display:block;float:left;height:70px;overflow:hidden;width:50px;}
.avatarContainer{border:solid 1px #e7e7e7;height:46px;overflow:hidden;width:46px;}
.avatarContainer a{display:block;height:100%;text-align:center;width:100%;}
.avatar{margin:0;visibility:hidden;}
.avatarWrap {float:left;}
.profileListing .username, .profileListing .username {display:block;height:20px;text-align:center;}

.member50Wrapper {border:solid 1px #e7e7e7;height:50px;overflow:hidden;width:50px;}

/* Ad Wrappers */
.leaderboardAd, .rectangleAd, .wideScraperAd{background:#ccc;color:#777;display:block;letter-spacing:-1px;margin:0 auto;overflow:hidden;text-align:center;}
.advertisement{background:#ccc;color:#777;font-size:10px;display:block;letter-spacing:-1px;margin:0 auto;overflow:hidden;text-align:center;}
.leaderboardAd{height:90px;line-height:90px;width:728px;}
.rectangleAd{height:250px;line-height:250px;width:300px;}
.wideScraperAd{height:600px;line-height:600px;width:160px;}

.advertisement{background:#bbb;}
.advertisement.rectangle{width:300px;height:250px;}
.advertisement.wide-skyscraper{width:160px;height:600px;}
.advertisement.leaderboard{width:728px;height:90px;}


/* twitter css*/
.twitter-share-button {left:0px;position:relative;top:0px;}

/* Mouseover tip of items in webmalls and featured items on game front pages*/
.node {overflow:hidden;}
.node ol {margin-left:0;padding-left:0;}
.node ol li {margin-left:16px;padding-left:0;list-style:decimal outside none;}
.node ul {margin-left:0;padding-left:0;}
.node ul li {margin-left:14px;padding-left:0;list-style:square outside none;}
.node img {max-width:100%}
.inline_block{display:inline-block;zoom:1;*display:inline}
/*EXPANDED CHILD MENU*/
#primaryLinks, .primary-li, .primary-a, #inside-col-left, #inside-col-content{position: relative}
#inside-col-left{z-index:11}
#inside-col-content{z-index:9}
ul.menu > li > a.pad-30-r, .pad-30-r{padding-right:30px}
ul.menu > li > a.pad-30-l, .pad-30-l{padding-left:30px}
ul.menu > li > a.pad-40-r, .pad-40-r{padding-right:40px}
ul.menu > li > a.pad-40-l, .pad-40-l{padding-left:40px}
ul.menu > li > a.pad-30-r, ul.menu > li > a.pad-30-l{height:auto !important;line-height:30px}
ul.menu > li > a.pad-40-r, ul.menu > li > a.pad-40-l{height:auto !important;line-height:40px}
ul.menu, ul.menu > li{height:auto !important;margin-bottom:0 !important}
/*ul > li.sub:hover > a{position:relative;z-index:1000 !important;border:1px solid white;border-right:none;background:rgba(30, 30, 30, 0.95) !important;background:#1E1E1E\9 !important;filter:alpha(opacity=95)\9}*/
ul.menu a.active{color:#EEE;font-weight: bold;}
ul.menu > li.sub > ul.menu, ul.drop-down-content > li.sub > ul.menu, ul.menu > li.sub:hover, ul.drop-down-content > li.sub:hover{background:rgba(30, 30, 30, 0.9);background:#1E1E1E\9;filter:alpha(opacity=90)\9;/*IE*/}
ul.menu, ul.drop-down-content, ul.menu > li, ul.drop-down-content > li {position:relative}
ul.drop-down-content > li > ul.menu > li, ul.drop-down-content > li > ul.menu > li a{border:none/*;text-shadow: 0 2px 5px #000000, 0 1px 3px #000000, 0 2px 5px #000000, 0 1px 3px #000000*/}
ul.menu > li.sub > ul.menu, ul.drop-down-content > li.sub > ul.menu{display:none;min-width:100%;_width:100%;padding:0 5px 0 10px;border:none;position:absolute;left:100%;top:-10px;z-index:100;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;-moz-box-shadow:5px 5px 4px #000;-webkit-box-shadow:5px 5px 4px #000;box-shadow:5px 5px 4px #000}
ul.menu > li.sub:hover > a, ul.drop-down-content > li.sub:hover > a, ul.menu > li.sub > a:hover, ul.drop-down-content > li.sub > a:hover{color:#eee !important;background:none !important}
ul.menu > li.sub:hover > ul.menu, ul.drop-down-content > li.sub:hover > ul.menu{display:block;}
/*LINK ICON ('*margin-top' targets ie7 only )*/
ul.menu > li > a > .menu_icon{position:absolute;left:0;width:30px;height:30px;background-position:0 center;*margin-top:-8px;top:0;}
.sub ul.menu > li{width:200px;word-wrap:break-word;}

/*TABS inside content box*/
#inside-col-content>#block-story-inside>.block-body>.block-content>.primary {*padding-bottom:5px;}
#inside-col-content>#block-story-inside>.block-body>.block-content>.primary li {height:auto;border:none!important;margin:0px 5px 5px 0px!important;}
#inside-col-content>#block-story-inside>.block-body>.block-content>.primary li>a {height:auto;line-height:29px;}
#inside-col-content>#block-story-inside>.block-body>.block-content>.primary li>a>.menu_icon {top:1px;*top:9px;}

/* 
 * featured items on main game pages (individual game css pages may override)
 */
/* price positioning and style */
.apIconShop {background-image: url("../images/logos/ap_32x32.png"); width: 32px; height: 32px; display: inline-block; top: 13px; position: relative; *zoom: 1; *display: inline;}
.apIconTransparent {background-image: url("../images/logos/ap_32x32_transparent.png");}
.item-price > div {position: relative; top: -11px;}
.item-price del {color: grey; !important}
/* tag positioning */
.box-tag.item-featured {position: absolute; top: 0px; left: 0px;}
.item-wrap{padding: 10px}
/* default tag style */
.box-tag.item-featured {color: white; font-weight: bold;}
.box-tag.item-featured-hot {background-color: red;}
.item-image.item-featured-hot {border: 2px solid red;}
.box-tag.item-featured-sale {background-color: blue;}
.item-image.item-featured-sale {border: 2px solid blue;}
.box-tag.item-featured-new {background-color: green;}
.item-image.item-featured-new {border: 2px solid green;}
.box-tag.item-featured-promo {background-color: purple;}
.item-image.item-featured-promo {border: 2px solid purple;}
/* force items on separte lines */
.item-title , .item-price, .item-qty, .item-bogo{width: 185px}
.item-title {display: inline-block}


.hover-tip {
    max-width: 300px;
    min-width: 200px;
    _width: 300px;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
}

#node-form .cke_inner,#node-form .cke_wysiwyg_div {
	background-color: transparent !important;
}

/* used by SEO Block seoblock.module */
#page-front .block-seoblock .block-body .title{padding:15px 10px;}
#page-front .seo_block_item{padding:0 10px 8px;display:inline-block;vertical-align:top;width:110px;}
.boyut {
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
}
.rek {
	color: #FFFFFF;
}
