@charset "utf-8";


/* NODE STYLING */
.block-story p, .block-story .image{margin:0 0 16px;}

.block-story h1, .block-story h2, .block-story h3, .block-story h4, .block-story h5, .block-story h6{padding:16px 0 8px;margin:0 0 8px;border-bottom:solid 1px #222;font-family:Arial, Helvetica;font-weight:bold;color:#fff;}
.block-story h1, .block-story h2{font-size:24px;line-height:24px;letter-spacing:-.035em;border-width:0;margin:0;padding:0;color:#4988e9;}
.block-story h3{font-size:19px;line-height:24px;letter-spacing:-.05em;color:#6585ba;}
.block-story h4{font-size:14px;font-style:italic;color:#80ace5;}
.block-story h5{font-size:11px;text-transform:uppercase;letter-spacing:0.2em;color:#bbd4f9;}
.block-story h6{font-size:10px;text-transform:uppercase;font-style:italic;letter-spacing:0.2em;color:#bbd4f9;}

.block-story p.note{font-style:italic;color:#bbb;font-size:11px;}
.block-story p.lead{font-weight:bold;color:#ddd;}

.block-story blockquote{display:inline;float:right;width:40%;margin:0 0 16px 16px;font-size:11px;color:#ddd;}
.block-story hr{border-style:solid;border-width:1px 0;border-color:#000 #000 #333;margin:21px 0;}

.block-story em, .block-story i, .block-story strong, .block-story b{color:#f2cd89;}
.block-story em, .block-story i{font-style:italic;}
.block-story strong, .block-story b{font-weight:bold;}

.block .node ol,
.block .node ul,
.node ol,
.node ul{margin:16px 0 16px 32px;}
.block-story ul ul,
.block-story ol ol{margin-bottom:0;margin-top:8px;}
.block-story ul li{list-style:square outside;}
.block-story ol li{list-style:decimal inside;}
.block-story ol li,
.block-story ul li{margin-bottom:8px;padding-left:4px;}
.block-story ol ol li{list-style:lower-alpha outside;}

.block-story img.left, .block-story .image.left, .block-story .image-left,
.block-story img.right, .block-story .image.right, .block-story .image-right{max-width:55%;display:inline;float:left;margin:0 16px 14px 0;}
.block-story img.right, .block-story .image.right, .block-story .image-right{float:right;margin:0 0 16px 14px;}
.block-story .image .caption{padding:5px;font-size:10px;color:#c7c7c7;background:#141414;}
.block-story .center{text-align:center;}
.block-story .image img{border:solid 0;}
.block-story li.image,
.block-story div.image{border:solid 1px #222;}

.node img.center,
.node object.center,
.node embed.center,
.node video.center{display:block;margin-left:auto;margin-right:auto;}

dl{margin:0px;}
dt{border-top:solid 1px #222;padding:8px 0 0 0;font-weight:bold;color:#ccc;margin:16px 0 4px 0;}
dd{margin:4px 0 16px;}

dl .title{color:#ccc!important;}

.faq-list dt{cursor:pointer;margin-top:8px;}
.faq-list dd{display:none;}

.tab-content{position:relative;overflow:hidden;}
.tab-panel{position:absolute;top:0;left:-500%;height:1px;width:1px;overflow:hidden;}
.tab-content .tab-show{position:static;top:0;left:0;width:auto;height:auto;overflow:visible;}

.node .box{display:block;clear:both;border:solid 1px #222;background:#111;padding:15px;margin:0 0 8px;
	background-image:-moz-linear-gradient(100% 100% 90deg, #111, #202020);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#202020), to(#111));
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020,endColorstr=#111111);
}

.node .numbers{clear:both;padding:8px 0 8px 0;}
.node .numbers .title{font-weight:bold;}
.node .numbers dt{display:inline;float:left;width:15%;border:none;margin:0;padding:0px;}
.node .numbers dd{display:inline;float:right;width:75%;margin:0;padding:0 10% 4px 0;}
.node .numbers kbd, .node .keys kbd{text-transform:none;padding:4px 6px;margin:0 10px 0 0;display:inline;float:right;text-align:center;background:#ddd;color:#444;line-height:12px;white-space:nowrap;font-size:9px;text-align:center;
	border:solid 1px #ccc;
	font-family:Tahoma, Geneva;
	text-shadow:0 1px 0 #ddd;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	background-image:-moz-linear-gradient(100% 100% 90deg, #bbb, #ddd);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd,endColorstr=#bbbbbb);
}

.node .numbers kbd{padding:3px;line-height:10px;min-width:10px;}
.node .numbers dt{width:10%;}
.node .numbers dd{width:80%;}
.node .numbers .clear,
.node .keys .clear{width:auto;height:auto;float:none;display:block;padding:0;margin:0;}

.node .keys dd{clear:left;margin:4px 0 8px;}
.node .keys kbd{float:left;margin:5px 10px 5px 0;}
.node .keys dt{margin:0;}

.node .image-list{}
.node .image-list dt,
.node .image-list dd{float:left;display:inline;width:23%;padding:10px 2%;margin:0;}
.node .image-list img{_width:90%;height:auto;display:block;}
.node .image-list .title{border-top:solid 1px #222;font-weight:bold;padding:15px 2% 0;}
.node .image-list dd{width:69%;padding:5px 2%;}
.node .image-list .clear{width:0;height:0;padding:0;margin:0;float:none;clear:both;display:block;}

#logoDeveloper
{
position:absolute; 
left:90%;
top:40px;
height:50px;
width:50px; 
background-image:url('../../../files/shaiya_tr/image/C/ChoiRockGamesCI.png');
background-repeat:no-repeat;}

#logoDeveloper{visibility : visible!important;}

/* MEDIA */
.node #mediaViewer{width:100%;margin:0 0 16px 0;min-height:300px;border:solid 1px #222;position:relative;
	background:#000 url(../../global/images/loading/black_big_snake.gif) no-repeat center center;
	-moz-box-shadow:0 5px 15px #000;
}
#mediaViewer .image{position:relative;z-index:0;}
#mediaViewer .fullsize{position:absolute;height:60px;top:0;left:0;display:block;width:100%;padding:10px 0;font-weight:bold;text-align:center;}
#mediaViewer a.fullsize:hover{background-color:transparent;color:#fff;}
#mediaViewer .fullsize-tip{display:block;visibility:visible;height:60px;line-height:60px;width:100%;position:absolute;top:0;left:0;font-family:Arial, Helvetica, sans-serif;font-size:16px;
	background-color:rgba(0,0,0,.50);
	background-color:transparent/9;
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
	ms-filter:"Progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)";
}

#mediaViewer .size-picker{position:absolute;display:block;left:0;bottom:0;width:94%;padding:15px 3%;
	background-color:rgba(0,0,0,.5);
	background-color:transparent/9;
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
	ms-filter:"Progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)";
}
#mediaViewer .size-picker label{padding:0;margin:0 10px;text-transform:none;color:#fff;font-weight:normal;float:right;display:inline;}
#mediaViewer .size-picker-select{float:right;display:inline;margin:0!important;}

.node .image-group{padding:0;margin:0!important;display:block;}
.image-group img{width:100%;height:auto;}
.image-group .image{padding:0;width:45%;max-width:45%;margin:5px 1%;display:inline;float:left;}
.rows-of-3 .image{width:30.75%;}
.rows-of-4 .image{width:22.5%;}
.rows-of-5 .image{width:17.5%;}
.rows-of-6 .image{width:14.25%;}
.rows-of-7 .image{width:11.75%;}

.image.highlight{border-color:red;}

.admin-node table{margin:0 auto 20px;}
.admin-node img{border:solid 0px;}
.admin-node table .form-radio,
.admin-node table .form-checkbox{margin:4px auto;display:block;}
.admin-node .block-story .story-title{text-transform:capitalize!important;display:none;}

.block-region,
.admin-node .region{background:#666;color:#ccc;font-weight:bold;}
.block-region{padding:10px;text-align:center;}

dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select{font-family:inherit;font-size:inherit;width:14em;}
dl.multiselect dd.a, dl.multiselect dd.a .form-item{width:8em;}
dl.multiselect dt, dl.multiselect dd{float:left;line-height:1.75em;padding:0;margin:0 1em 0 0;}
dl.multiselect .form-item{height:1.75em;margin:0;}




.marker{color:red;}
th.active img{display:inline;}

/* Tables */
table{border-collapse:collapse;padding:0;margin:0 auto;border:solid 1px #222;}
td{border:solid 1px #222;border-width:0 0 1px 0;padding:5px;vertical-align:middle;font-size:12px;}
td .form-item{margin:5px 0;}
table th{font-size:12px;font-weight:bold;color:#F37800;background-color:#444;text-align:center;padding:7px 10px;
	border:solid 1px #2E2E2E;
	font-family:Tahoma, Geneva;
	text-shadow:0 -1px 0 #222;
	
	background-image:-moz-linear-gradient(100% 100% 90deg, #1D1D1D, #2E2E2E);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#2E2E2E), to(#1D1D1D));
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#2E2E2E,endColorstr=#1D1D1D);
}

/* Table Cell Stylings */
tr.watchdog-error .active,
tr.watchdog-content .active,
tr.watchdog-page-not-found .active,
tr.watchdog-access-denied .active{background-color:transparent;}
td.menu-disabled{background:transparent;opacity:.5;}
tr.odd{background:#1D1D1D;}
tr.even{background:#000;}
td.title,
td.active{background-color:transparent;color:#b0afaf;font-weight:bold;white-space:nowrap;}
td.align-center{text-align:center;}
.layout td,
.layout th,
.layout tr,
.layout thead td,
.layout thead th,
.layout tfoot td{background:none;border:0px;margin:0px;padding:0px;vertical-align:top;}

.node table.simple td,
.node table.simple th,
.node table.simple{border:solid 0;padding:0;margin:0;background:transparent;}


/* Themed Tables */
.themed-table{margin-top:-14px;}

/* Code Boxes */
code{display:table;padding:8px 16px;margin:12px 0;background:#222;border:dashed 1px #555;color:#6f6e16;font-style:normal;font-family:"Courier New", Courier, monospace;}



/* Forms */
.fieldsetTitle{display:none;}
fieldset{border-top:dotted 1px #14161b;margin:12px 0 8px 0;padding:8px 0 8px 0;}
fieldset legend{color:#fff;padding:0;font:20px/24px ThemeFont, Arial;text-transform:capitalize;}
label{display:block;color:#aaa;font-size:11px;text-transform:uppercase;font-weight:bold;}
.option{}
.form-item{margin:15px 0;}
.form-item .description{font-size:10px;line-height:12px;}
.form-item .tips{margin-left:35px;margin-top:4px;}
.form-item .tips li{margin-bottom:4px;}
input, .node select option{margin:4px 0;padding:3px 0 3px 5px;font:11px/16px Arial, Helvetica, sans-serif;}
select option{min-width:120px;padding:2px 5px 2px 5px!important;}
select option,
select{margin:4px 0!important;padding:0px!important;}
.form-radio,
.form-checkbox{margin:4px 8px 4px 0;}
.form-text,
.form-select,
.form-textarea{color:black;border:solid 2px #333;font-size:12px;line-height:16px;background:white;}
.form-select option{border:solid 0px;background-image:none;margin:0px;padding:0px;height:19px;}
.form-text:focus,
.form-select:focus,
.form-checkbox:focus,
.form-textarea:focus{border-color:#999;color:#444;background:#ececec;}
.form-textarea{font-family:"Courier New", Courier, monospace;}
.form-submit{font-size:11px;font-weight:bold;color:#000;text-align:center;padding:7px 10px;
	border:none;
	font-family:Tahoma, Geneva;
	
	-moz-box-shadow:0 2px 8px #000;
	-webkit-box-shadow:0 2px 8px #000;
	box-shadow:0 2px 8px #000;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	background-color:#0d223b;
	background-image:-moz-linear-gradient(100% 100% 90deg, #0d223b, #469cd6);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#469cd6), to(#0d223b));
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#469cd6,endColorstr=#0d223b);
}
.form-submit:hover{
	background-color:#469cd6;
	background-image:-moz-linear-gradient(100% 100% 90deg, #469cd6, #0d223b);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d223b), to(#469cd6));
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d223b,endColorstr=#469cd6);
}
.container-inline div{display:inline;}

textarea.autoSize{overflow:hidden;padding:0px!important;}



#node-admin-filter ul li{ list-style:none;}
dl.multiselect .form-item{height:27px;}
#node-form #form-item-edit-start_day,
#node-form #form-item-edit-start_month,
#node-form #form-item-edit-start_year,
#node-form #form-item-edit-end_day,
#node-form #form-item-edit-end_month,
#node-form #form-item-edit-end_year{float:left;margin-right:8px;margin-top:0px;}
#node-form .container-inline input.form-text,
#node-form .container-inline .description{width:40px;}
#node-form #form-item-edit-start_month,
#node-form #form-item-edit-start_hour,
#node-form #form-item-edit-start_minute,
#node-form #form-item-edit-end_month,
#node-form #form-item-edit-end_hour,
#node-form #form-item-edit-end_minute{float:left;width:100px;margin-right:8px;}
#node-form .container-inline select{width:100px;}
#node-form .container-inline .day,
#node-form .container-inline .time{float:left;display:inline;width:48%;}
#node-form .container-inline .day .form-item,
#node-form .container-inline .time .form-item{margin-top:0px;margin-bottom:0px;}
#node-form .container-inline .day .description,
#node-form .container-inline .time .description{text-transform:uppercase;font-size:8px;}



/* COLORS AND BACKGROUNDS 
------------------------------------- */
#main-content{color:#999;}
a{color:#558be7;}
.item_root {border-color:#558be7 !important;}

.advertisement{background:#000;}

#container, #gameHeader, #gameMenu, #contentContainer{background:#000 url(../../../files/shaiya/image/0/08-13-shaiya-theme-header.jpg) no-repeat top center;}
#gameHeader{background-position:center -94px;}
#gameMenu{background-color:#353535;background-position:center -363px;}
#contentContainer{background-color:#0a0a0a;background-position:center -423px;}

#mainPageFooterWrap{height:50px;background:#819A63 url(../../../files/shaiya/image/0/08-13-shaiya-body-container.jpg) no-repeat -980px -150px; margin:-45px auto 0 auto;width:980px;}

body{background:#000000 url(../../../files/shaiya/image/0/08-13-shaiya-theme-background-repeat.png) repeat-y center top;}
#main{background:url(../../../files/shaiya/image/0/08-13-shaiya-theme-background-footer.png) no-repeat center bottom;}


#headerBleed{background:url(../images/theme-header-bleed.jpg) no-repeat 0 0;height:67px;width:948px;left:12px;}


#gameHeader #home a,
#gameHeader #download a{background:url(../../../files/shaiya/image/0/08-13-shaiya-theme-header_hover.jpg) no-repeat 0 0;}
#gameHeader #download a{background-position:-420px 0;}

a.primary-a:hover{color:#fff;}

.drop-down-head, .drop-down-body, .drop-down-content, .drop-down-foot{background:url(../images/drop-down.jpg) no-repeat 0 0;}
.drop-down-body{background-position:-180px -10px;background-repeat:repeat-y;}
.drop-down-content{background-position:0 -10px;}
.drop-down-foot{background-position:-360px -146px;}

.block-head .title{color:#bab9b9;
	text-shadow:0 -1px 0 #000;
}

.block-head, .block-body, .block-content, .block-foot{background:url(../images/block-news.jpg) no-repeat 0 0;}
.block-body{background-repeat:repeat-y;background-position:-620px -50px;}
.block-content{background-repeat:no-repeat;background-position:0 -50px;}
.block-body .title{color:#1e91f3;}

#front-col-right .block-head,
#front-col-right .block-body,
#front-col-right .block-content,
#front-col-right .block-foot{background-image:url(../images/block-front-right.jpg);}
#front-col-right .block-body{background-position:-300px -40px;}
#front-col-right .block-content{background-position:0 -40px;}
#front-col-right .block-foot{background-position:-600px bottom;_font-size:1px;_line-height:1px;}

#front-col-right #block-social-front .block-head,
#front-col-right #block-social-front .block-body,
#front-col-right #block-social-front .block-content,
#front-col-right #block-social-front .block-foot{background-image:none;}
#front-col-right #block-social-front{background:url(../images/block-front-social.jpg) no-repeat left top;}
#front-col-right #block-social-front .block-foot{display:none;}
#block-social-front .block-content{padding:0;height:55px;}

.block-intro .block-head,
.block-intro .block-body,
.block-intro .block-content,
.block-intro .side-tab{background-image:url(../images/intro-block.png);_background-image:url(../images/intro-block.ie6.png);}
.block-intro .block-body,
.block-intro .block-content{background-position:-200px 0;}

.block-intro .image,
.block-intro #mediaViewer{border-color:#555;
	background-color:#000;
	background-image:-moz-linear-gradient(100% 100% 90deg, #333333, #000000);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333));
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000,endColorstr=#333333);
}

.block-user .block-head,
.block-user .block-body,
.block-user .block-content,
.block-user .block-foot,
.block-nav .block-head,
.block-nav .block-body,
.block-nav .block-content,
.block-nav .block-foot{background-image:url(../../../files/shaiya/image/0/08-13-shaiya-block-inside-nav.png);}
.block-user .block-body,
.block-nav .block-body{background-position:-160px -67px;}
.block-user .block-content,
.block-nav .block-content{background-position:0 -67px;}
.block-user .block-foot,
.block-nav .block-foot{background-position:-320px bottom;}

.drop-down a:hover, .block-user a:hover, .block-nav a:hover{color:#fff!important;background-color:transparent!important;}
.drop-down li, .block-user li, .block-nav li{border-color:#040404;}
.drop-down a, .block-user a, .block-nav a{border-color:#272727;color:#E8A62B;}

.block-menu .block-head,
.block-menu .block-body,
.block-menu .block-content,
.block-menu .block-foot{background-image:url(../images/block-inside-left-menu.html);}
.block-menu .block-body{background-position:-160px -2px;}
.block-menu .block-content{background-position:0 -2px;}
.block-menu .block-foot{background-position:-320px bottom;}

.grid_10 .block-head,
.grid_10 .block-body,
.grid_10 .block-content,
.grid_10 .block-foot{background-image:url(../images/block-story-580.png);}
.grid_10 .block-body{background-position:-580px 0;}
.grid_10 .block-foot{background-position:-1160px -198px;}

.grid_13 .block-head,
.grid_13 .block-body,
.grid_13 .block-content,
.grid_13 .block-foot{background-image:url(../images/block-story-760.png);}
.grid_13 .block-body{background-position:-760px 0;}
.grid_13 .block-foot{background-position:-1520px -198px;}

.grid_16 .block-head,
.grid_16 .block-body,
.grid_16 .block-content,
.grid_16 .block-foot{background-image:url(../images/block-story-940.png);}
.grid_16 .block-body{background-position:-940px 0;}
.grid_16 .block-foot{background-position:-1880px bottom;}

.teaser a{color:#91693f;}
#contentContainer a:hover,
.subject a:hover,
.teaser a:hover{background-color:#558be7;color:#0A0A0A;}
.article .category,
.article .date{background:#222;}

.news{border-color:#333;}
.news span,
.news #newsTimeClock{background-color:#191919;color:#aaa;}

.poll .vote-result,
.poll .form-item{border-color: #2E2E2E;}
.poll .form-submit{}

.poll .bar{background:#111;border-color:#000 #222 #222 #000;}
.poll .percentage{color:#fff;background:#558BE7;}

.tabs, .tabs a{border-color:#333;}
.tabs a{background-color:#333!important;color:#1e91f3!important;}



/* TYPOGRAPHY 
------------------------------------- */
#main-content{font:12px/16px Verdana, Geneva, sans-serif;}

.primary-a{font:bold 14px Arial, Helvetica;letter-spacing:-0.00em;text-transform:uppercase;color:#c4c4c4;
	text-shadow:0 -1px 0 #000;
}

#downloadLink a{font-size:22px;font-weight:bold;letter-spacing:-.1em;text-transform:uppercase;color:black;text-shadow:0 1px 0 #6A719B;}

.block-head, .block-head .title, .block-head .more{line-height:20px;}
.block-head{text-transform:uppercase;}
.block-head .title{font:bold 19px Arial, Helvetica;letter-spacing:-.015em;}
.block-head .more{font:bold 9px Tahoma, Geneva, sans-serif;}
.block-head .more a{color:#fff;}

.block-user .title,
.block-nav .title{font:bold 14px Arial, Helvetica;text-align:center;}
.block-user a,
.block-nav a{font-size:11px;letter-spacing:-.03em;
	text-shadow:0 2px 5px #000, 0 1px 3px #000, 0 2px 5px #000, 0 1px 3px #000;
}
.block-user .active,
.block-nav .expanded a,
.block-nav .active{color:#C2C2C2;font-weight:bold;background:url(../images/interface-elements.png) no-repeat right center;
	_background:url(../images/interface-elements.ie6.png) no-repeat right center;
}
.block-user .title{text-transform:none;letter-spacing:-.035em;}

.block-menu a{font-weight:bold;color:#E2D9C4;font-size:11px;
	text-shadow:0 -1px 0 #000;
}
.block-menu a:hover{color:#E2D9C4!important;background:transparent!important;}

.block-story .block-head,
.block-story .story-title{font:bold 28px Arial, Helvetica!important;line-height:32px;text-transform:none;letter-spacing:-.025em;color:#0068b2;}

.news span,
.news #newsTimeClock{font-size:10px;line-height:18px;}
.news label{font-weight:bold;}
.article{border-color:#222;_zoom:1;}
.article .subject{letter-spacing:-.015em;font:bold 16px/16px Arial, Helvetica;}
.article .category,
.article .date{text-transform:capitalize;font:10px/18px Verdana, Geneva, sans-serif;}
.article .teaser a{font-weight:bold;}

.content-poll .title,
.poll .title{font:bold 14px/16px Arial, Helvetica;border-color:#2E2E2E;}
.poll label,
.poll .vote-result,
.poll .form-item{font-size:11px;line-height:14px;font-weight:normal;text-transform:none;}
.poll .form-submit{font:bold 9px/14px Tahoma, Geneva, sans-serif;text-transform:uppercase;}

.poll .percentage{font:bold 9px/16px Tahoma, Geneva, sans-serif;}
.poll .votes{font:9px/18px Tahoma, Geneva, sans-serif;}

.tabs a{font-size:12px;}


/* PAGE LAYOUT 
------------------------------------- */

.container_12, .container_16{padding:0 10px;}

#gameHeader{height:270px;position:relative;}
#gameHeader #home{position:absolute;top:-4px;left:296.5px;}
#gameHeader #home, #gameHeader #home a{height:213px;width:626px;display:block;}
#gameHeader #home a{
	opacity:.01;
	-moz-opacity:.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#gameMenu{height:60px;position:relative;z-index:9999;}
#primaryLinks{width:720px;}
#primaryLinks.ready{overflow:visible;}
#primaryLinks, .primary-li, .primary-a{height:60px;float:left;}
.primary-a{line-height:0px;}
#menu-tree{float:left;display:inline;visibility:hidden;}
#contentContainer{min-height:600px;_height:600px;padding:0 10px 0 10px!important;margin-top:20px;position:relative;z-index:0;height:inherit;overflow:hidden;background:transparent url(../../../files/shaiya/image/0/08-13-shaiya-body-container.jpg) repeat-y 0 0;}

#menu-tree .expanded, #menu-tree .active{position:relative;}
.drop-down{position:absolute;top:55px;left:50%;width:180px;margin:0 0 0 -90px;display:none;_background-color:#222;*background-color:#222;}
.drop-down-head, .drop-down-foot{height:3px;}
.drop-down-content{padding:0 3px;}
.primary-li.hovered .drop-down{display:block;}

.drop-down li{border-width:1px 0 0;border-style:solid;}
.drop-down a{display:block;padding:5px 10px;border-width:1px 0 0;border-style:solid;}
.drop-down .first, .drop-down .first a{border-width:0;}

#footer p {color:white;font-size:11px;padding:13px 0;text-align:center;text-shadow:#4c4444 0 1px 1px;}

.menu .menu{display:none;}
#page-admin .menu{display:block;}
#page-admin .menu .menu li{padding:0 0 0 10px;}

#downloadLink{height:60px;display:inline;float:left;width:240px;}
#downloadLink a{display:block;width:225px;margin:0 0 0 10px;height:34px;line-height:0px;text-align:center;padding:0px 0px;color:#000;}

#social-icons{display:block;padding:0;margin:0 auto;}
#social-icons.count-1{width:40px;}
#social-icons.count-2{width:80px;}
#social-icons.count-3{width:120px;}
#social-icons.count-4{width:160px;}
#social-icons.count-5,
#social-icons.count-6,
#social-icons.count-7,
#social-icons.count-8,
#social-icons.count-9,
#social-icons.count-10{width:200px;}
.social-icon-li,
.social-icon{height:40px;width:40px;float:left;display:inline;margin:0;padding:0;}
.social-icon{background:url(../images/interface-elements.png) no-repeat;
	_background:url(../images/interface-elements.ie6.png) no-repeat;
}
#social-icons a:hover{text-decoration:none;background-color:transparent!important;}

.social-icon#facebook{background-position:0 0;}
.social-icon#youtube{background-position:-40px 0;}
.social-icon#myspace{background-position:-80px 0;}
.social-icon#twitter{background-position:-120px 0;}
.social-icon#rss{background-position:-160px 0;}

.block-intro{margin:0 0 30px!important;}
.block-intro .side-tabs, .block-intro #intro-panel{display:inline;float:left;}
.block-intro .side-tabs{width:200px;margin:10px 0 0;display:block;}
.block-intro .block-content{height:302px;padding:18px 0 0;_overflow:hidden;}
.block-intro #intro-panel{width:420px;overflow:hidden;}
.block-intro #mediaViewer{position:relative;z-index:500;width:380px;height:212px;overflow:hidden;margin:0 auto 3px;border-style:solid;border-width:3px;
	-moz-box-shadow:0 2px 7px #000;
	-webkit-box-shadow:0 2px 7px #000;
	box-shadow:0 2px 7px #000;
}
.block-intro #mediaViewer.show-image,
.block-intro #mediaViewer.show-image img{width:365px;}
.block-intro .block-foot{display:none;}
.block-intro .slide-panels{width:330px;margin:0 auto;}
#intro-panel img,
.block-intro .image,
.block-intro .image a{display:block;height:45px;position:relative;}
.block-intro .image{border-style:solid;border-width:3px;overflow:hidden;
	-moz-box-shadow:0 1px 3px #000;
	-webkit-box-shadow:0 1px 3px #000;
	box-shadow:0 1px 3px #000;
}
#intro-panel a{display:block;}

.block-intro .side-tab{overflow:hidden;display:block;padding:10px 0;height:79px;overflow:hidden;background-position:0 0;background-repeat:no-repeat;}
.block-intro .side-tab.side-tab-2{height:80px;}
.block-intro .side-tab-link{letter-spacing:-.035em;font:bold 18px/22px Arial, Helvetica;margin:0 15px;display:block;}
.block-intro .side-tab-link:hover{}
.block-intro .side-tab-p{height:42px;overflow:hidden;font:12px/14px Arial, Helvetica;margin:4px 15px 0;color:#b8b6b6;}

.block-intro.show-4-tabs .side-tab{height:54px;background-position:0 -100px;}
.block-intro.show-4-tabs .side-tab.side-tab-3{height:55px;}
.block-intro.show-4-tabs .side-tab-link{font-size:16px;line-height:22px;}
.block-intro.show-4-tabs .side-tab-p{font-size:11px;line-height:12px;height:24px;}

.block-intro.show-5-tabs .side-tab{height:39px;background-position:0 -175px;}
.block-intro.show-5-tabs .side-tab.side-tab-4{height:40px;}
.block-intro.show-5-tabs .side-tab-link{font-size:16px;line-height:39px;}
.block-intro.show-5-tabs .side-tab-p{display:none;}

.block, .messages, .help{margin:0 0 20px;}
.block-head{padding:20px 25px 10px;position:relative;}
.block-head .more{position:absolute;right:25px;top:26px;float:right;display:inline;}
.block-content{padding:5px 13px 13px;}
.block, .messages, .help{margin:0 0 20px;}
.block-head{padding:20px 25px 10px;position:relative;}
.block-head .more{position:absolute;right:25px;top:26px;float:right;display:inline;}
.block-content{padding:5px 13px 13px;}

.block-articles .block-head{padding:13px 25px;}
.block-articles .block-head .more{top:20px;}

#front-col-right .block-foot{height:5px;}
#front-col-right .block-head{padding:0 15px;height:40px;overflow:hidden;}
#front-col-right .block-head .title{line-height:40px;font-size:16px;}
#front-col-right .block-head .more{right:15px;top:15px;}


.block-user .block-head,
.block-nav .block-head{padding:12px 5px 13px;}
.block-user .block-content,
.block-nav .block-content{padding:0 8px;}
.block-user .block-foot,
.block-nav .block-foot{height:6px;}

.drop-down li,
.block-nav li{_height:100%;}
.block-user li,
.block-nav li{border-width:0;border-style:solid;}
.block-user a,
.block-nav a{display:block;padding:5px 10px 5px 5px;border-width:0;border-style:solid;}

.block-menu .block-head{height:2px;padding:0;}
.block-menu .title{display:none;}
.block-menu .block-body{}
.block-menu .block-content{padding:0 2px 0 2px;}
.block-menu .block-foot{height:2px;}
.block-menu li{display:block;border-width:0 0 1px;border-style:solid;
	border-color:#555;
}
.block-menu a{display:block;padding:8px;border-width:0 0 1px;border-style:solid;
	border-color:#222;	
}

.block-story .block-head,
.block-story .story-title{height:auto;}
.block-story .block-head{padding:32px 24px 16px;}
.block-story .block-content{padding:0px 24px 20px;min-height:482px;_height:482px;}
.block-story .block-foot{height:2px;}

.block-story .news{min-height:40px;border-style:solid;border-width:1px 0;margin:0 0 15px;padding:10px 0;}
.block-story #newsTimeStart,
.block-story #newsTimeEnd,
.block-story #newsTimeZone,
.block-story #newsTimeClock{display:inline;float:left;margin:0 5px 5px 0;padding:0 7px;}

.article{padding:16px 10px 0;border-style:solid;border-width:1px 0 0;}
#article-0.article{border-top:solid 0;}
.article .subject{margin:0 0 10px;width:80%;padding:0;border:none;}
.article .category,
.article .date{float:left;display:inline;padding:0 7px;margin:0 5px 0 0;}
.article .teaser{width:90%;clear:both;padding:8px 0 0;}
#page-front .article .subject{float:left;}
#page-front .article .date{float:right;margin:0;}

.content-poll .title,
.poll .title{border-style:dotted;border-width:0 0 1px;padding:10px;}
.poll .vote-result,
.poll .form-item{border-style:dotted;border-width:0 0 1px;padding:6px 10px;margin:0;clear:both;}
.poll label{padding:0 0 0 20px;display:block;}
.poll .form-radio{margin:0 0 0 -17px;cursor:pointer;}
.poll .form-submit{cursor:pointer;padding:5px 10px;margin:15px auto 0 auto;display:block;}
.poll .total{margin:15px 0 0;text-align:center;}

.poll .bar{width:70%;height:16px;width:70%;margin:8px 0 10px;border-style:solid;border-width:1px;overflow:hidden;}
.poll .percentage{height:16px;text-align:right;}
.poll .foreground{display:none;}
.poll .votes{width:30%;height:16px;float:right;display:inline;text-align:right;margin:-29px 0 0;}

#inside-col-left{min-height:10px;position:relative;}
#inside-col-follow{position:absolute;}

.tabs li, .tabs a{float:left;display:inline;height:30px;line-height:30px;border-style:solid;border-width:1px;}
.block .tabs{display:inline;float:left;border-style:solid;border-width:0 0 3px;padding:0;margin:0 0 15px;width:100%;height:auto;min-height:30px;_height:30px;clear:both;}
.block .tabs li{border-width:0;margin:0 5px 0 0;padding:0;}
.tabs a{height:29px;border-width:1px 1px 0;padding:0 7px;
	opacity:.45;
	-moz-opacity:.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
}
.tabs .active, .tabs .active a, .tabs a:hover{
	opacity:1;
	-moz-opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}


.image-group{padding:0;margin:0;display:block;_zoom:1;}
.slide-panel.image-group img,
.slide-panel.image-group .image,
.slide-panel.image-group a{display:block;position:relative;_zoom:1;}
.slide-panel.image-group .image{padding:0;margin:5px 1%;display:inline;float:left;}
.slide-panel.image-group img,
.slide-panel.image-group .image{width:152px;}
.slide-panel.rows-of-3 img,
.slide-panel.rows-of-3 .image{width:97px;}
.slide-panel.rows-of-4 img,
.slide-panel.rows-of-4 .image{width:69px;}
.slide-panel.rows-of-5 img,
.slide-panel.rows-of-5 .image{width:53px;}
.slide-panel.rows-of-6 img,
.slide-panel.rows-of-6 .image{width:42px;}
.image.highlight{border-color:red;}

.box-tag{color:white;text-transform:capitalize;font:bold 10px/18px Verdana, Geneva, sans-serif;float:left;display:inline;padding:0 7px;margin:0 5px 5px 0;}
.box-tag strong{color:#919191;}
.box-tag del{color:#919191;font-weight:normal;}
.box-tag.item-featured{font-weight:bold;color:white;}
.box-tag a{font-weight:bold;}
.box-tag.item-bogo{font-style:italic;}

.item-container{display:inline;float:left;}
.item{position:relative;margin:5px;border-top:solid 3px #2e2e2e;padding:10px 0;}
#itemmall-inside .item-title, .item-title{border:solid 0;padding:0;margin:0 0 5px;font-weight:bold;font-style:normal;text-transform:none;word-wrap:break-word;}
.item-image{margin:0 5px 5px 0;border:solid 2px #666;}
.item-image,
.item-image-link,
.item-icon{display:inline;float:left;}
.item-wrap{padding:10px;
  background-color: rgba(0,0,0,0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
}
.item-details{position:relative;z-index:0;}
.item-purchase{padding-right:0;}
.item-control-group,
.item-control,
.item-purchase .form-item,
.item-control-label{display:inline;float:left;}
.item-control-group{background:#555;}
.item-control{width:16px;text-align:center;font:bold 14px/18px Arial, Helvetica, sans-serif;}
.item-purchase .form-item{padding:0;margin:0;}
.item-purchase .form-text{font-size:11px;width:16px;text-align:center;padding:0;margin:2px 0 0;border:solid 0;}

.box-tag.item-featured-hot, .box-tag.tag-hot{background:#c30000;}
.item-image.item-featured-hot, .item-image.tag-hot{border-color:#c30000;}
.box-tag.item-featured-sale, .box-tag.tag-sale{background:#bb5d01;}
.item-image.item-featured-sale, .item-image.tag-sale{border-color:#bb5d01;}
.box-tag.item-featured-new, .box-tag.tag-new{background:#308a15;}
.item-image.item-featured-new, .item-image.tag-new{border-color:#308a15;}
.box-tag.item-featured-promo, .box-tag.tag-promo{background:#74004a;}
.item-image.item-featured-promo, .item-image.tag-promo{border-color:#74004a;}

#itemmall-inside{margin:15px 0;}
#itemmall-inside .item{display:inline;float:left;padding:5px 10px 0;margin:5px 5px 5px 0;width:29%;border:none;
  background-color: rgba(0,0,0,0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
}
#itemmall-inside .item-wrap{padding:7px 0 0 0;background-color:transparent;}
#itemmall-inside .item-image,
#itemmall-inside .item-image-window,
#itemmall-inside .item-image-window img{display:inline;float:left;position:relative;z-index:0;}
#itemmall-inside .item-image a{position:absolute;display:block;top:0;left:0;width:100%;height:100%;right:0;bottom:0;_background:transparent;}
#itemmall-inside .item-image a:hover{background:none!important;}
#itemmall-inside .item-select .form-item{margin:5px 0;}
.item-bogo{clear:both;*clear:none;*width:100%;color:#919191;font:italic bold 10px/18px Verdana, Geneva, sans-serif;float:left;display:inline;padding:0 7px;margin:0 5px 5px 0;}
.item-price, .item-price del{font-size:10px;}
.item-price{line-height:18px;float:left;display:inline;margin:0 5px 5px 0;}
#pager { clear:both; text-align:center; }
#pager a, #pager strong.pager-current {padding:0.5em;}


#block-items-front .block-content{padding:5px 12px 0;}
#block-items-front .item{border:solid 0;padding:0;margin:0 0 10px;background:none;}
#block-items-front .item-list{display:block;width:235px;margin:0 auto;}
#block-items-front .conversion{margin:5px 15px 0;padding:10px 0;border-top:solid 1px #333;}

.slide-panels{position:relative;}
.slide-pager,
.slide-page{display:inline;float:left;-moz-user-select:none;-webkit-user-select:none;font-size:1px;line-height:1px;}
.slide-page{width:8px;height:8px;margin:0 6px 0 0;background:#484848;cursor:pointer;
	-moz-box-shadow:inset 0 1px 3px #333;
	-webkit-box-shadow:inset 0 1px 3px #333;
	box-shadow:inset 0 1px 3px #333;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.slide-page.current{background:#fff;
	-moz-box-shadow:0 1px 5px #000;
	-webkit-box-shadow:0 1px 5px #000;
	box-shadow:0 1px 5px #000;
}
.slide-pager{height:8px;visibility:hidden;}
.slide-page.last{margin:0;}
.slide-window{position:relative;z-index:100;overflow:hidden;clear:both;width:100%;_zoom:1;}
.slide-panels-container{display:block;width:2000%;position:relative;_zoom:1;}
.slide-panel{width:5%;display:inline;float:left;position:relative;_zoom:1;}
.slide-arrows,
.slide-arrow{-moz-user-select:none;-webkit-user-select:none;}
.slide-arrow{position:absolute;z-index:200;top:50%;left:0;width:40px;height:40px;margin:-20px 0 0 -18px;cursor:pointer;
	background:url(../images/interface-elements.png) no-repeat 0 bottom;
	_background:url(../images/interface-elements.ie6.png) no-repeat 0 bottom;
}
.slide-arrow-next{left:auto;right:0;margin:-20px -24px 0 0;background-position:-40px bottom;}

.block-intro .slide-panel{height:61px;overflow:hidden;}
.block-intro .slide-pager{padding:2px 0 0 0!important;}
.block-intro .slide-arrow{width:45px;margin:0;height:80px;top:1px;left:-45px;background:url(../images/intro-block.png) no-repeat 0 bottom;_background-image:url(../images/intro-block.ie6.png);}
.block-intro .slide-arrow-next{background-position:-50px bottom;left:auto;right:-45px;}

#front-col-right .slide-pager{padding:9px 0!important;}

.button{margin:5px auto;padding:7px;display:block;width:170px;font-size:14px;letter-spacing:-.05em;text-align:center;font-weight:bold;text-transform:uppercase;color:#000;
	font-family:Arial,Helvetica;
	text-shadow:0 1px 0 #469cd6;
	
	-moz-box-shadow:0 2px 8px #000;
	-webkit-box-shadow:0 2px 8px #000;
	box-shadow:0 2px 8px #000;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	background-color:#0d223b;
	background-image:-moz-linear-gradient(100% 100% 90deg, #0d223b, #469cd6);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#469cd6), to(#0d223b));
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#469cd6,endColorstr=#0d223b);
}
a.button:hover{color:#000!important;
	text-shadow:0 1px 0 #469cd6;
	
	-moz-box-shadow:0 2px 8px #000;
	-webkit-box-shadow:0 2px 8px #000;
	box-shadow:0 2px 8px #000;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	background-color:#469cd6;
	background-image:-moz-linear-gradient(100% 100% 90deg, #469cd6, #0d223b);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d223b), to(#469cd6));
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d223b,endColorstr=#469cd6);
}

ul.menu li{margin:0;padding:0;}
li.leaf{padding:0;list-style:none;}
.block ul{margin:0;padding:0;}


/* SQUEEZEBOX */
#sbox-overlay{position:absolute;left:0px;top:0px;zoom:1;z-index:9999999!important;
	
}
#sbox-gradient{
	background-image: -moz-radial-gradient(center center, circle contain, rgba(0,0,0,.3) 0%, rgba(0,0,0,.95) 600px);
	background-image: -webkit-gradient(radial, center center, 0, center center, 600, from(rgba(0,0,0,.3)), to(rgba(0,0,0,.95)));
	
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#B3000000', endColorstr='#B3000000'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#B3000000', endColorstr='#B3000000')"; /* IE8 */

	width:100%;
	position:absolute;
}
#sbox-window{position:absolute;z-index:99999999!important;background-color:#222;text-align:left;overflow:visible;padding:10px;-moz-border-radius:5px;-webkit-border-radius:3px;}
#sbox-btn-close{position:absolute;width:30px;height:30px;right:-15px;top:-15px;background:url(../images/site/squeezebox/closebox.png) no-repeat center;border:none;}
.sbox-window-ie6 #sbox-btn-close{background-image:url(../images/site/squeezebox/closebox.gif);}
.sbox-loading #sbox-content{background:url(../images/site/squeezebox/spinner.gif) no-repeat center;}
#sbox-content{clear:both;overflow:auto;background-color:#222;height:100%;width:100%;}
.sbox-content-image#sbox-content{overflow:visible;}
#sbox-image{display:block;}
.sbox-content-image img{display:block;width:100%;height:100%;}
.sbox-content-iframe#sbox-content{overflow:visible;}
.body-overlayed{overflow: hidden;}
.body-overlayed embed,.body-overlayed object,.body-overlayed select{visibility:hidden;}
#sbox-window embed,#sbox-window object,#sbox-window select{visibility:visible;}
.sbox-bg{position:absolute;width:33px;height:40px;}
#sbox-window .sbox-content-swf{overflow:hidden;}

/* TIPS */
.hover-tip{color:#999;padding:7px 10px;max-width:200px;_width:200px;border:solid 1px #222;
	background-color:#000;
	background-color:rgba(0,0,0,.75);
	
	background-color:transparent/9;
	filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6000000,endColorstr=#A6000000);
	ms-filter:"Progid:DXImageTransform.Microsoft.gradient(startColorstr=#A600000,endColorstr=#A6000000)";
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position:relative;
	z-index:999999;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
}
.hover-tip .tip-title{font:bold 16px/18px Arial, Helvetica, sans-serif;margin:0 0 4px;color:#fff;letter-spacing:-0.035em;}
.hover-tip .social-icon-li{position:absolute;top:2px;left:0;float:none;display:block;}
.hover-tip .media-tip{position:relative;padding:3px 10px 3px 42px;}
.hover-tip .vtip-title{font-weight:bold!important;font:bold 12px/16x Arial, Helvetica, sans-serif;color:#fff;white-space:nowrap;}
.hover-tip .vtip-provider{font-style:italic;font-size:10px;white-space:nowrap;}


/* Game Specific Node Styles */
.numbers{}
.numbers dt,
.numbers dd{padding-left:30px;}
.numbers dt{position:relative;}
.numbers b.num-1,.numbers b.num-2,.numbers b.num-3,.numbers b.num-4,.numbers b.num-5,.numbers b.num-6,.numbers b.num-7,.numbers b.num-8,.numbers b.num-9,.numbers b.num-10,.numbers b.num-11,.numbers b.num-12,.numbers b.num-13,.numbers b.num-14,.numbers b.num-15,
.numbers b.num-16,.numbers b.num-17,.numbers b.num-18,.numbers b.num-19,.numbers b.num-20,.numbers b.num-21,.numbers b.num-22,.numbers b.num-23,.numbers b.num-24,.numbers b.num-25,.numbers b.num-26,.numbers b.num-27,.numbers b.num-28,.numbers b.num-29,.numbers b.num-30{position:absolute;left:0px;top:8px;width:30px;height:16px;display:block;background:url(../images/site/numbered-lists.png) no-repeat 0 0;}
.numbers b.num-1{background-position:0px 0px;}
.numbers b.num-2{background-position:-30px 0px;}
.numbers b.num-3{background-position:-60px 0px;}
.numbers b.num-4{background-position:-90px 0px;}
.numbers b.num-5{background-position:-120px 0px;}
.numbers b.num-6{background-position:-150px 0px;}
.numbers b.num-7{background-position:-180px 0px;}
.numbers b.num-8{background-position:-210px 0px;}
.numbers b.num-9{background-position:-240px 0px;}
.numbers b.num-10{background-position:-270px 0px;}
.numbers b.num-11{background-position:0px -20px;}
.numbers b.num-12{background-position:-30px -20px;}
.numbers b.num-13{background-position:-60px -20px;}
.numbers b.num-14{background-position:-90px -20px;}
.numbers b.num-15{background-position:-120px -20px;}
.numbers b.num-16{background-position:-150px -20px;}
.numbers b.num-17{background-position:-180px -20px;}
.numbers b.num-18{background-position:-210px -20px;}
.numbers b.num-19{background-position:-240px -20px;}
.numbers b.num-20{background-position:-270px -20px;}
.numbers b.num-21{background-position:0px -40px;}
.numbers b.num-22{background-position:-30px -40px;}
.numbers b.num-23{background-position:-60px -40px;}
.numbers b.num-24{background-position:-90px -40px;}
.numbers b.num-25{background-position:-120px -40px;}
.numbers b.num-26{background-position:-150px -40px;}
.numbers b.num-27{background-position:-180px -40px;}
.numbers b.num-28{background-position:-210px -40px;}
.numbers b.num-29{background-position:-240px -40px;}
.numbers b.num-30{background-position:-270px -40px;}


#copyrightStmt p {color:white; text-align:center;font-size:11px;text-shadow: #4C4444 0 1px 1px;}
